 /* Стили для кнопок. */

 a {
  padding: 3px;
  display: inline-block;
  text-decoration: none;
  background-color: #240090;
  margin: 0px;
  color: #fff;
  border-radius: 0px;
}

/* Настройка расположения элементов. */
.container {
  display: inline-block;
  flex-direction: column;
  height: 200px;
  width: 100px;
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;

}

.box-2 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  margin: 0px;
  
}

.stroka {
  display: flex;
  flex-direction: row;
  height: 35px;
}


.box-1 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 40px;
}

.hort{
  width: 60px; /* Ширина слоя */
  margin: 2px; /* Значение отступов */
  /* border: 2px solid black; /* Параметры границы */
  /* padding: 5px; /* Поля вокруг текста */

}

.child {
  width: 350px;
}


/* Большие экраны */
.box-1{
  display: flex;
  flex-flow: row wrap;
  /* Центрируем элементы, равномерно распределяя пустое пространство вокруг элементов */
  justify-content: center;
}
/* Маленькие экраны */
@media all and (max-width: 650px) {
  .box-1 {
    justify-content: center;
       
  }

  .container {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 50%;
    left: 48%;
    }

    .box-2 {
      justify-content: flex-start;
      height: 20px;
      width: 55%;
      margin-left:0 ;
    }
}



.hort a{
  font-size: 15px;
  transition: 1s;
  padding: 10px;
  border-radius: 10px;
}

.hort a:hover{
  font-size: 16px;
  background-color: #3500D3;
}

.child a {
  font-size: 15px;
  transition: 1s;
  padding: 10px;
  border-radius: 10px;
}
.child a:hover{
  font-size: 16px;
  background-color: #0C0032;
}

.active3 {
  background-color: #282828;
}
